@keyframes bannerImg01 {
    0% {opacity: 1;}
    20.833333% {opacity: 1;}
    33.333333% {opacity: 0;}
    87.5% {opacity: 0;}
    100% {opacity: 1}
}
@keyframes bannerImg02 {
    0% {opacity: 0;}
    20.833333% {opacity: 0;}
    33.333333% {opacity: 1;}
    54.166666% {opacity: 1;}
    66.666666% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes bannerImg03 {
    0% {opacity: 0;}
    54.166666% {opacity: 0;}
    66.666666% {opacity: 1;}
    87.5% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes bannerText01 {
    0% {opacity: 1;}
    20.833333% {transform: translateY(0%) ;opacity: 1;}
    33.333333% {transform: translateY(100%); opacity: 0;}
    87.5% {transform: translateY(0%); opacity: 0;}
    100% {transform: translateY(0%); opacity: 1}
}
@keyframes bannerText02 {
    0% {transform: translateY(0%) ;opacity: 0;}
    20.833333% {transform: translateY(0%) ;opacity: 0;}
    33.333333% {transform: translateY(0%) ;opacity: 1;}
    54.166666% {transform: translateY(0%) ;opacity: 1;}
    66.666666% {transform: translateY(100%) ;opacity: 0;}
    100% {opacity: 0;}
}
@keyframes bannerText03 {
    0% {transform: translateY(100%) ;opacity: 0;}
    54.166666% {transform: translateY(0%) ;opacity: 0;}
    66.666666% {transform: translateY(0%) ;opacity: 1;}
    87.5% {transform: translateY(0%) ;opacity: 1;}
    100% {transform: translateY(100%) ;opacity: 0;}
}
@keyframes nv_scroll {
    0% {
      transform: translateY(-100%);  
    }
    100% {
      transform: translateY(100%);
    }
}
@keyframes toTop {
    0% {
        transform: translateY(15%);
    }
    70% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(15%);
    }
}