*, *::after, *::before {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Yu Gothic;
}
body {
    margin: 0;
    background-color: white;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
img {
    vertical-align: middle;
}
:target {
  scroll-margin-top: 70px;
}
header {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 50px;
    background-color: white;
    height: 70px;
    box-shadow: 0 0 10px #aaa;
}
.header-logo img {
    transform: translateY(35%);
}
nav {
    display: flex;
}
.navbtn {
    padding: 0 0 8px 20px;
    font-weight: bold;
    color: darkblue;
}
.nav_text {
    position: relative;
}
.nav_text::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    border-top: 3px solid #009900;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.5s;
}
.navbtn a:hover .nav_text::after {
    transform: scale(1, 1);
}
.menu-bar {
    z-index: 3;
}
.menu-btn {
    display: inline-block;
    cursor: pointer;
    z-index: 3;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #009900;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(45deg) translate(-9px, 6px);
    transform: rotate(45deg) translate(8px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(-45deg) translate(-8px, -8px);
    transform: rotate(-45deg) translate(7px, -8px);
}

.dropdown-btn {
    position: absolute;
    display: none;
    z-index: 3;
    top: 25px;
    right: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -15px;
    margin-top: 6px;
    text-align: center;
    background-color: white;
    width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.a-border {
    display: block;
    position: relative;
    color: black;
    padding: 0.5rem 0.25rem;
    margin: 0 1.5rem;
    overflow: hidden;
    font-weight: bold;
}
.show {display: block;}

/* header end */

.content {
    width: 70%;
    margin: auto;
}

.banner {
    text-align: right;
    position: relative;
}
.banner img {
    width: 80%;
}
.bannerImg01 {
    animation: bannerImg01 18s infinite;
}
.bannerImg02 {
    position: absolute;
    top: 0;
    right: 0;
    animation: bannerImg02 18s infinite;
}
.bannerImg03 {
    position: absolute;
    top: 0;
    right: 0;
    animation: bannerImg03 18s infinite;
}
.bannerText01 {
    position: absolute;
    top: 30%;
    left: 7%;
    font-size: 58px;
    font-weight: bold;
    line-height: 1;
    --stroke-width:1.5px;
    --stroke-black:1px;
    --stroke-color01: #444;
    --stroke-color:white;
    text-shadow:	calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
	  var(--stroke-color), 0 var(--stroke-black) 6px var(--stroke-color01);
    animation: bannerText01 18s infinite;
}
.bannerText02 {
    position: absolute;
    top: 30%;
    left: 7%;
    font-size: 58px;
    font-weight: bold;
    line-height: 1;
    --stroke-width:1.5px;
    --stroke-black:1px;
    --stroke-color01: #444;
    --stroke-color:white;
    text-shadow:	calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
	  var(--stroke-color), 0 var(--stroke-black) 6px var(--stroke-color01);
    animation: bannerText02 18s infinite;
}
.bannerText03 {
    position: absolute;
    top: 30%;
    left: 7%;
    font-size: 58px;
    font-weight: bold;
    line-height: 1;
    --stroke-width:1.5px;
    --stroke-black:1px;
    --stroke-color01: #444;
    --stroke-color:white;
    text-shadow:	calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
	  var(--stroke-color), 0 var(--stroke-black) 6px var(--stroke-color01);
    animation: bannerText03 18s infinite;
}
.banner-mail {
  background-color: #dd12dd;
  border: 2px solid #dd12dd;
  color: white;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
  width: 210px;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 10%;
  transition: all .5s ease;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-mail div {
  margin-right: 10px;
}
.banner-mail:hover {
  background-color: white;
  color: #dd12dd;
}
.banner-mail svg {
  height: 24px;
}
.banner-mail svg path {
  fill: white;
  transition: fill .5s ease;
}
.banner-mail:hover svg path {
  fill: #dd12dd;
}
.scroll-box {
    position: absolute;
    bottom: 0%;
    left: 3%;
    display: flex;
}
.scroll-header {
  writing-mode: vertical-lr;
  margin-right: 5px;
}
.scroll-div {
	overflow: hidden;
}
.scroll-bar {
    border: none;
    height: 100%;
    border-left: 2px solid #555;
    display: inline-block;
    width: 4px;
    animation: nv_scroll 3s linear infinite;
}
.to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background-color: #41ad41;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  animation: toTop 2s infinite;
  opacity: 0;
  transition: opacity .5s;
  z-index: 1;
}
.showBtn {
  opacity: 1;
}
.about {
  background-color: #ffefff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.about-card {
  background-color: white;
  width: 100%;
  box-shadow: 0 0 30px #ddd;
  border-radius: 10px;
  padding: 50px;
}
.title {
  font-size: 36px;
  color: green;
  margin-bottom: 50px;
  text-align: left;
}
.about-content {
  display: flex;
}
.about-content img {
  float: left;
  shape-outside: circle();
  border-radius: 999px;
  margin: 10px;
}
.about-profile {
  width: 50%;
  line-height: 2;
  font-size: 18px;
  letter-spacing: .1em;
  word-break: break-all;
}
.about-profile::first-letter{
  font-size: 30px;
  color: red;
}
.about-skill {
  width: 50%;
  padding-left: 40px;
}
.skill-progress {
  margin-top: 20px;
}
.skill-name {
  display: flex;
  justify-content: space-between;
}
.progress {
  margin-top: 5px;
  height: 10px;
  background-color: #ccffcc;
}
.progress-bar {
  background-color: #009900;
  height: 100%;
}
.progress-html {
  width: 95%;
}
.progress-css {
  width: 90%;
}
.progress-php {
  width: 85%;
}
.progress-laravel {
  width: 80%;
}
.promise {
  padding: 80px 0;
}
.promise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.promise-card {
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  margin: 20px;
  padding: 30px;
  background-color: #00aa00;
  color: white;
  width: 255px;
  height: 235px;
}
.promise-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000099
}
.skill {
  padding: 50px 0;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 90px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 6px #ddd;
  margin: 20px;
}
.skill-card img {
  max-width: 40px;
  max-height: 40px;
}
.skill-card div {
  font-size: 20px;
  font-weight: bold;
}
.contact-me {
  background-image: url("../image/handshake.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.contact-me-content {
  background-color: rgba(0, 22, 0, .8);
  padding: 150px 0;
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 2;
}
.service {
  padding: 80px 0;
}
.service-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.service-card div {
  width: 55%;
  letter-spacing: .1em;
  line-height: 2;
}
.service-card01 img {
  width: 40%;
  transform: translateY(-45px);
  box-shadow: 30px 30px #ddd;
}
.service-card02 img {
  width: 40%;
  transform: translateY(-45px);
  box-shadow: -30px 30px #ddd;
}
.product {
  background-color: #f9f9f9;
  padding: 80px 0;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-link {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 30px;
  box-shadow: 0 0 6px #ddd;
  transition: all .5s ease;
}
.product-img-cover {
  overflow: hidden;
  position: relative;
}
.product-img-cover img {
  width: 100%;
  transition: transform .5s ease;
}
.product-link-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #009900;
  opacity: 0;
  transition: opacity .5s ease;
}
.product-link-text {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  color: white;
  font-weight: bold;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s ease;
}
.product-link:hover {
  box-shadow: 0 0 10px #aaa;
}
.product-link:hover .product-img-cover img {
  transform: scale(1.15);
}
.product-link:hover .product-link-cover {
  opacity: .5;
}
.product-link:hover .product-link-text {
  opacity: 1;
}
.product-text {
  background-color: white;
  padding: 40px;
  height: 120px;
  width: 100%;
}
footer {
  padding: 40px 0;
  background-color: #41ad41;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.outlink {
  margin: 10px;
}
.outlink img {
  width: 30px;
  height: 30px;
  transition: opacity .5s ease;
}
.outlink:hover img {
  opacity: .6;
}
.copyright {
  font-size: 14px;
  text-align: center;
}
@media (max-width: 1700px) {
  .content {
    width: 75%;
  }
  .promise-card {
    width: 230px;
    padding: 25px;
  }
  .product-link {
    width: 300px;
  }
}
@media (max-width: 1440px) {
  .content {
    width: 80%;
  }
  .bannerText01,
  .bannerText02,
  .bannerText03 {
    font-size: 50px;
  }
  .promise-card {
    width: 215px;
    padding: 30px;
    height: 265px;
  }
  .product-link {
    width: 290px;
  }
}
@media (max-width: 1280px) {
  .content {
    width: 85%;
  }
  .banner img {
    width: 85%;
  }
  .bannerText01,
  .bannerText02,
  .bannerText03 {
    font-size: 44px;
  }
  .banner-mail {
    padding: 3px 0;
  }
  .promise {
    padding: 70px 0;
  }
  .promise-card {
    width: 200px;
    padding: 25px;
    height: 260px;
    margin: 5px;
  }
  .about {
    padding: 70px 0;
  }
  .service {
    padding: 70px 0;
  }
  .product {
    padding: 70px 0;
  }
}
@media (max-width: 1000px) {
  .content {
    width: 90%;
  }
  .title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .banner img {
    width: 90%;
  }
  .bannerText01,
  .bannerText02,
  .bannerText03 {
    font-size: 38px;
  }
  .banner-mail {
    font-size: 18px;
    width: 180px;
  }
  .banner-mail svg {
    max-width: 20px;
    max-height: 20px;
  }
  .promise {
    padding: 50px 0;
  }
  .promise-card {
    width: 270px;
    padding: 30px;
    height: 225px;
    margin: 20px;
  }
  .about {
    padding: 50px 0;
  }
  .about-content {
    flex-direction: column;
  }
  .about-profile {
    width: 100%;
  }
  .about-skill {
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
  }
  .contact-me-content {
    padding: 135px 0;
    font-size: 26px;
  }
  .service {
    padding: 50px 0;
  }
  .product {
    padding: 50px 0;
  }
}
@media (max-width: 800px) {
  .content {
    width: 100%;
    padding: 0 3vw;
  }
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .bannerText01,
  .bannerText02,
  .bannerText03 {
    font-size: 34px;
  }
  .promise-card {
    width: 225px;
    padding: 24px;
    margin: 15px;
  }
  .about-card {
    padding: 40px;
  }
  .about-content img {
    float: none;
  }
  .about-skill {
    margin-top: 40px;
  }
  .service-card01 {
    flex-direction: column;
  }
  .service-card02 {
    flex-direction: column-reverse;
  }
  .service-card img {
    width: 85%;
  }
  .service-card div {
    width: 100%;
  }
  .service-card02 img {
    box-shadow: 30px 30px #ddd;
  }
}
@media (max-width: 750px) {
  .banner img {
    width: 90%;
  }
  .bannerText01,
  .bannerText02,
  .bannerText03 {
    font-size: 30px;
  }
  .banner-mail {
    top: 55%;
  }
  .contact-me-content {
    padding: 125px 15px;
  }
  .product-link {
    width: 350px;
  }
}
@media (max-width: 550px) {
  .title {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .skill-card {
    width: 175px;
    margin: 15px;
  }
  nav {
      display: none;
  }
  .dropdown-btn {
      display: inline-block;
  }
  .banner-mail {
    top: 65%;
  }
  .scroll-box {
    display: none;
  }
  .promise-card {
    width: 80%;
    padding: 30px;
    margin: 20px;
  }
  .about-card {
    padding: 30px;
  }
  .about-profile {
    line-height: 1.5;
  }
  .about-skill {
    margin-top: 30px;
  }
  .contact-me-content {
    font-size: 24px;
  }
}
@media (max-width: 450px) {
  .title {
    margin-bottom: 15px;
  }
  .skill-card {
    width: 155px;
  }
  .banner img {
    width: 100%;
  }
  .about-card {
    padding: 25px;
  }
  .about-skill {
    margin-top: 25px;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .skill-card {
    width: 145px;
    margin: 12px;
  }
  .bannerText01,
  .bannerText02,
  .bannerText03 {
    left: 5%;
    font-size: 26px;
  }
  .banner-mail {
    padding: 0 0;
  }
  .about-card {
    padding: 20px;
  }
  .about-skill {
    margin-top: 20px;
  }
  .contact-me-content {
    font-size: 18px;
  }
}

